.formulario{

    margin: 0 8%;
    &__titulo-parede{
        font-size: 2.5rem;
    }

    &__container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin: 3rem 0;
        @include for-phone-only{
            justify-content: center;
            flex-direction: column;
        }
    }

    &__box{
        display: flex;
        justify-content: unset;
        align-items: center;
        flex-direction: column;
        max-width: 50%;
        margin: 1rem 0;

        @include for-phone-only{
            max-width: 100%;
        }
    }

    &__field{
        text-align: center;
        padding: 8px 0px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1.5rem;
        outline: 1px solid #ccc;
        margin: 2.5rem 1rem 0 1rem;
        max-width: 110px;
        font-family: $inter-media;
    }
    &__campos-area{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    &__campos-selecao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1.3rem 1rem 0 1rem;
    }
    &__selecao{
        padding: 10px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        outline: none;
        font-size: 1.5rem;
    }
    &__aviso-erro{
        color: red;
        font-weight: bold;
        margin: .5rem 1rem;
        font-family: $lexend-regular;

        @include for-phone-only{
            margin: 0;
        }
    }
}

#btn-submit{
    font-size: 1.5rem;
}

.logo-central{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include for-phone-only{
        display: none;
    }
}
.swal2-title {
    font-size: 3.5rem;
}
.swal2-html-container {
    font-size: 1.7rem!important;
}
.swal2-popup {
    width: 30%;

    @include for-phone-only{
        width: 100%;
    }
}
.swal2-confirm{
    background-color: #1976d2!important;
    font-family: $lexend-regular;
    font-size: 1.5rem;
}

