.header{
    max-height: 100px;
    background-color: #000000;

    &__logo{
        max-width: 200px;
        max-height: 100px;
    }

    &__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    &__lista-tamanhos-tinta{
        list-style: circle;
    }
}
#btn-infos, #btn-back{
    font-size: 1.7rem;
    font-family: $inter-media;
}

#btn-back{
    margin-top: 2.2rem;
}

.close-modal{
    display: flex;
    justify-content: flex-end;
}
.modal-container{
    overflow: scroll;
    max-height: 100vh;
    height: 100vh;
}